@media (min-width: 992px) {
}

@media (min-width: 1800px) {
}

@media (max-width: 1450px) {
}

@media (min-width: 1025px) {
  body,
  .todays-deals-body {
    scrollbar-color: var(--primaryColor02) var(--whiteColor);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      border-radius: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: #fafafa;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primaryColor02);
      border-radius: 0;
    }
  }

  .footer-bottom-div .footer-bottom-inner-div .copyright-div p br {
    display: none;
  }

  .todays-deals-body {
    overflow-y: auto;
    max-height: calc(100vh - 158px);
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
}

@media (min-width: 1025px) and (max-width: 1290px) {
}

@media (max-width: 1024px) {
  .todays-deals-div {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .mobile-hidden {
    display: none !important;
  }

  .responsive-hidden {
    display: none;
  }

  header .header-div.header-sticky .header-container {
    min-height: auto;
  }

  .modal.modal-custom .modal-dialog {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: calc(100% - 40px);
  }

  .modal-custom .modal-header {
    padding: 12px 20px 10px;
    min-height: 54px;
  }

  .modal-custom .modal-header .modal-title {
    font-size: 18px;
  }

  .modal-custom .modal-header .btn-close {
    height: 32px;
    width: 32px;
    top: -12px;
    right: -12px;
  }

  .modal-custom .modal-dialog {
    transform: none;
    padding: 0 6px;
  }

  .search-header-top .offcanvas-body {
    padding: 50px 0;
  }

  .search-header-top .offcanvas-header {
    position: absolute;
    right: 15px;
    top: 10px;
    height: auto;
    padding: 5px;
  }

  .search-header-top {
    min-height: 200px;
  }

  .search-top-div .form-control {
    padding: 6px 115px 6px 15px;
  }

  .search-top-div .btn.btn-search {
    min-width: 100px;
    font-size: 16px;
  }

  .home-banner-div h1 {
    font-size: 24px;
  }

  .home-banner-div p {
    font-size: 14px;
  }

  .home-banner-div .desc-div {
    max-width: 320px;
  }

  .home-banner-div {
    padding: 110px 0;
  }

  .eco-category-home-div {
    padding: 50px 0;
  }

  .btn.btn-primary {
    padding: 10px 20px 9px;
  }

  /* Vendor CSS */

  .title-header-section .title-dv {
    h2 {
      font-size: 21px;
    }

    p {
      font-size: 14px;
    }

    .vendor-txts-dv {
      flex: 0 0 100%;
      padding: 0;
    }
  }

  .title-header-section .title-header-div {
    min-height: 115px;
  }

  .pro-graph-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 10px;
    border-bottom: 1px solid #ddd;

    .title-tp-div {
      margin: 0;
      flex: 1;

      h2 {
        font-size: 16px;
        justify-content: flex-start;
        flex-wrap: wrap;

        .ic {
          margin: 0 8px 0 0;
        }
      }
    }

    .percent {
      width: 120px;

      svg {
        width: 120px;
        height: 120px;

        circle {
          cx: 60;
          cy: 60;
          stroke-width: 4px;
          r: 55;
        }
      }

      .number {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 12px;
        }

        h2 {
          font-size: 46px;
        }
      }
    }

    .link-btn-div {
      padding: 0;
      text-align: left;
      width: 50%;
      position: absolute;
      margin-top: 50px;

      .link {
        font-size: 12px;
      }
    }
  }

  .vendor-dash-graph-div .gd-4 {
    border-right: none;
    border-left: none;
  }

  .main-vandor-section {
    padding: 25px 0;
  }

  .vendor-details-div .backtotop-vendor {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9;
    width: 40px;
    height: 40px;

    i {
      margin: 0;
      font-size: 21px;
    }

    .txt {
      display: none;
    }
  }

  .vendor-details-div .list-group .list-group-item {
    padding: 10px 8px;
    font-size: 13px;
    min-height: 40px;
  }

  footer {
    z-index: 10;
    position: relative;
  }

  .list-item-body .title-h3 {
    font-size: 18px;
  }

  .vendor-details-div .list-group {
    top: 75px;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  .list-item-body .desc-div p,
  .list-item-body .desc-read-div .btn.btn-read,
  .location-div p {
    font-size: 14px;
  }

  .write-reviews-card-div {
    margin-top: 15px;
  }

  .usr-rv-rates-div .usr-rv-rates-row {
    padding: 10px 0;
  }

  /* End of Vendor CSS */

  /* Product */
  .title-about-pro-section {
    h1 {
      font-size: 24px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .product-header-div {
    .product-header-left {
      width: 100%;
      margin: 0 0 10px;
    }
  }

  .pro-dt-top-rs-dv {
    h3 {
      font-size: 18px;
    }
  }

  .pro-dt-list-rs-dv {
    .pro-dt-list-rs-row {
      .vd-logo-div {
        width: 110px;

        .img-fluid {
          height: 80px;
        }
      }

      .vd-txt-dv {
        h2 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }

      .vd-btn-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 0;

        .btn.btn-learn-more {
          margin: 0 0 5px;
          min-width: 180px;
          width: 100%;
        }

        p {
          font-size: 14px;
          line-height: 24px;
        }

        .blk-rw-dv {
          margin: 0 0 0 auto;
        }
      }
    }
  }
  /* End of Product */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .responsive-hidden {
    display: none;
  }

  .tablet-hidden {
    display: none;
  }

  .footer-bottom-div .footer-bottom-inner-div .copyright-div p br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .todays-deals-div {
    display: block;
  }

  .pro-graph-card .title-tp-div h2 {
    font-size: 18px;
  }

  .pro-graph-card .percent {
    svg {
      width: 180px;
      height: 180px;

      circle {
        cx: 90;
        cy: 90;
        stroke-width: 6px;
        r: 85;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 900px) and (max-height: 600px) and (orientation: landscape) {
}
