.home-banner-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;

  .banner-img-div {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "";
      background: #000;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.8s;
    }

    .img-banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;
    }
  }
}

.swiper-home-banner {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  --swiper-theme-color: var(--whiteColor);

  .swiper-slide {
    background-size: 100%;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bganime 10s ease-in-out infinite;
  }

  .slide-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    animation: bganime 10s ease-in-out infinite;
  }

  .slide-content-dv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 40px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 40px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--whiteColor);

    &:hover {
      border-color: var(--primaryColor02);
      background: transparent;
      color: var(--primaryColor02);
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 24px;
  }

  .swiper-slide-active {
    .home-banner-root {
      .inner-div {
        opacity: 1;
        transition: all 1s ease-in-out;
      }

      .home-banner-content {
        transform: translateX(0);
      }
    }
  }

  @keyframes bganime {
    0% {
      background-size: 100%;
    }

    50% {
      background-size: 102%;
    }

    100% {
      background-size: 100%;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  margin: 0 8px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: var(--whiteColor);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--primaryColor01);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.home-banner-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 150px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .home-banner-content {
    position: relative;
    z-index: 3;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateX(20px);
  }

  h1 {
    color: var(--whiteColor);
    font-size: 48px;
    line-height: 1.4;
    margin: 0 0 20px;
    letter-spacing: 0.5px;
    overflow: hidden;
    width: 100%;

    b {
      color: var(--primaryColor01);
    }

    .letter {
      display: inline-block;
    }
  }

  .desc-div {
    margin: 0 auto 30px;
  }

  p {
    color: var(--whiteColor);
    font-size: 21px;
    line-height: 1.7;
    font-weight: 400;
    display: block;
  }

  .inner-div {
    max-width: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
}

.search-section {
  padding: 30px 0;
  margin: 0;
  position: relative;
  background-color: var(--greyColor01);
}

.search-div {
  padding: 20px;
  margin: 0;
  position: relative;
  background: #fff;
  border-radius: 4px;
  max-width: 750px;
  box-shadow: 0 12px 36px 0 rgb(236 236 236 / 20%);

  .form-group {
    .ico-span {
      position: absolute;
      left: 0;
      z-index: 2;
      pointer-events: none;
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #2e2e2e;
    }

    .location-control {
      padding-left: 50px;
      padding-right: 140px;
    }
  }

  .btn-dv {
    margin: 0;
  }

  .btn.btn-primary-common,
  .btn.btn-secondary-common {
    width: 100%;
  }

  .btn.btn-location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primaryColor03);
    position: absolute;
    top: 6px;
    right: 6px;
    height: 42px;
    font-weight: 600;
    background: var(--greyColor01);
    border-radius: 24px;
    font-size: 16px;

    .lc-span {
      margin: 0 6px 0 0;
      font-size: 22px;
    }
  }
}

.card-slider-div {
  .swiper-card-box {
    overflow: hidden;
  }

  .swiper-pagination {
    bottom: 10px;

    .swiper-pagination-bullet {
      opacity: 1;
      margin: 0 4px;
      width: 8px;
      height: 8px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    opacity: 1;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    color: #9b1b2f;
    font-size: 18px;
    background: #fff;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "\e5cb";
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "\e5cc";
  }
}

.header-title-dv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    line-height: 1.7;
  }

  &.white-title-dv {
    color: var(--whiteColor);

    h2 {
      color: var(--primaryColor01);
    }

    p {
      color: var(--whiteColor);
    }
  }
}

.image-grid-card {
  position: relative;
  margin: 0 0 20px;
  transition: all 0.3s;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }

  .grid-content-top-div {
    position: relative;
  }

  .card-slider-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .img-dv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .img-responsive {
      height: 220px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .top-right-div {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn.btn-round-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #ef4443;
    color: #fff;
    border-radius: 100px;
    padding: 0;
    z-index: 3;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 1px 0 0 0;

    &.like-icon {
      display: flex;
    }

    &.like-fill-icon {
      display: none;
    }
  }

  .btn-like {
    &.active {
      .icon {
        &.like-icon {
          display: none;
        }

        &.like-fill-icon {
          display: flex;
        }
      }
    }
  }

  .grid-content-middle-div {
    padding: 20px;
    background-color: var(--whiteColor);
  }

  h3 {
    font-weight: 700;
    font-size: var(--fontSize24);
    line-height: 1.5;
    color: var(--blackColor01);
    letter-spacing: 0;
    font-family: var(--playfair_display);
    display: block;
    margin: 0 0 5px;

    a {
      color: inherit;
    }
  }

  .desc-div {
    margin: 0 0 10px;

    .text-desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.7;

      a {
        color: inherit;
      }
    }
  }

  .text-number {
    font-weight: 700;
    font-size: 18px;
  }

  .prize-text {
    color: var(--primaryColor03);
    font-weight: 600;
  }

  p {
    a {
      color: inherit;
    }
  }

  .grid-content-btm-div {
    padding: 15px 0 0;
    margin: 15px 0 0;
    border-top: 1px dashed var(--greyColor01);

    p {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      i {
        color: var(--primaryColor03);
        margin: 0 5px 0 0;
        font-size: 18px;
      }
    }
  }
}

.spotlight-section {
  padding: 60px 0;
  margin: 0;
  position: relative;
  background-color: var(--lightColor02);
}

.popular-banquets-section {
  padding: 60px 0 70px;
  margin: 0;
  position: relative;
  background-color: var(--blueColor02);
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: top;

  .card-root {
    position: relative;
  }

  .popular-swiper-card-slider {
    overflow: hidden;

    > .swiper-button-next,
    > .swiper-button-prev {
      color: var(--primaryColor01);
    }

    > .swiper-button-next,
    > .swiper-rtl .swiper-button-prev {
      right: -60px;
    }

    > .swiper-button-prev,
    > .swiper-rtl .swiper-button-next {
      left: -60px;
    }

    .swiper-pagination-banquets {
      bottom: -30px;
    }
  }
}

.testimonials-section {
  padding: 60px 0 70px;
  margin: 0;
  position: relative;
  background-color: var(--whiteColor);
  background-size: cover;
  background-position: top;

  .card-root {
    position: relative;
  }

  .testimonials-swiper-slider {
    overflow: hidden;

    > .swiper-button-next,
    > .swiper-button-prev {
      color: var(--primaryColor03);
    }

    > .swiper-button-next,
    > .swiper-rtl .swiper-button-prev {
      right: -60px;
    }

    > .swiper-button-prev,
    > .swiper-rtl .swiper-button-next {
      left: -60px;
    }

    .swiper-pagination-testimonials {
      bottom: -30px;
    }

    .swiper-pagination-bullet {
      opacity: 0.2;
      background-color: var(--primaryColor03);
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background-color: var(--primaryColor03);
    }
  }
}

.testimonials-grid-card {
  position: relative;
  margin: 10px 0 20px;
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  transition: all 0.3s;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%);

  &:hover {
    background-color: #f5f6f7;
  }

  .grid-content-top-div {
    position: relative;
    padding: 20px 20px 0;
  }

  .img-dv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .img-responsive {
      height: 220px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .grid-content-middle-div {
    padding: 20px;
    background-color: transparent;
    border-top: 2px dashed #ddd;
    position: relative;
  }

  .quote {
    font-size: 100px;
    letter-spacing: 0;
    line-height: 95px;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #9b1b2f;
    color: transparent;
    font-family: var(--playfair_display);
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: 0;
    background: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    border: none;
  }

  h3 {
    font-weight: 700;
    font-size: var(--fontSize24);
    line-height: 1.5;
    color: var(--blackColor01);
    letter-spacing: 0;
    font-family: var(--playfair_display);
    display: block;
    margin: 0 0 5px;

    a {
      color: inherit;
    }
  }

  p {
    a {
      color: inherit;
    }
  }

  .author-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px;

    .author-thumb {
      width: 60px;
      height: 60px;
      display: flex;
      flex-wrap: wrap;

      .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .name {
      flex: 1;
      padding: 0 0 0 15px;
      font-weight: 700;
      font-size: 21px;
      line-height: 1.5;
      color: var(--primaryColor03);
      letter-spacing: 0;
      font-family: var(--playfair_display);
      margin: 0;
    }
  }

  .star-dv {
    color: #e9e017;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px;
    position: relative;
  }

  .desc-div {
    position: relative;
  }
}
