.home-banner-section {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;

  .banner-img-div {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "";
      background: #000;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.8s;
    }

    .img-banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;
    }
  }
}

.swiper-home-banner {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  --swiper-theme-color: var(--whiteColor);

  .swiper-slide {
    background-size: 100%;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: bganime 10s ease-in-out infinite;
  }

  .slide-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    animation: bganime 10s ease-in-out infinite;
  }

  .slide-content-dv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 40px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 40px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--whiteColor);

    &:hover {
      border-color: var(--primaryColor02);
      background: transparent;
      color: var(--primaryColor02);
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 24px;
  }

  .swiper-slide-active {
    .home-banner-root {
      .inner-div {
        opacity: 1;
        transition: all 1s ease-in-out;
      }

      .home-banner-content {
        transform: translateX(0);
      }
    }
  }

  @keyframes bganime {
    0% {
      background-size: 100%;
    }

    50% {
      background-size: 102%;
    }

    100% {
      background-size: 100%;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 30px;
  height: 12px;
  border-radius: 16px;
  margin: 0 8px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--whiteColor);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--primaryColor01);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.home-banner-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 150px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .home-banner-content {
    position: relative;
    z-index: 3;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateX(20px);
  }

  h1 {
    color: var(--whiteColor);
    font-size: 48px;
    line-height: 1.4;
    margin: 0 0 20px;
    letter-spacing: 0.5px;
    overflow: hidden;
    width: 100%;

    b {
      color: var(--primaryColor01);
    }

    .letter {
      display: inline-block;
    }
  }

  .desc-div {
    margin: 0 auto 30px;
  }

  p {
    color: var(--whiteColor);
    font-size: 21px;
    line-height: 1.7;
    font-weight: 400;
    display: block;
  }

  .inner-div {
    max-width: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
}

.search-section {
  padding: 30px 0;
  margin: 0;
  position: relative;
  background-color: var(--greyColor01);
}

.search-div {
  padding: 20px;
  margin: 0;
  position: relative;
  background: #fff;
  border-radius: 4px;
  max-width: 750px;
  box-shadow: 0 12px 36px 0 rgb(236 236 236 / 54%);

  .form-group {
    .ico-span {
      position: absolute;
      left: 0;
      z-index: 2;
      pointer-events: none;
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #2e2e2e;
    }

    .location-control {
      padding-left: 50px;
      padding-right: 140px;
    }
  }

  .btn-dv {
    margin: 0;
  }

  .btn.btn-primary-common,
  .btn.btn-secondary-common {
    width: 100%;
  }

  .btn.btn-location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primaryColor03);
    position: absolute;
    top: 6px;
    right: 6px;
    height: 42px;
    font-weight: 600;
    background: var(--greyColor01);
    border-radius: 24px;
    font-size: 16px;

    .lc-span {
      margin: 0 6px 0 0;
      font-size: 22px;
    }
  }
}
