:root {
  --transparent-color: transparent;
  --primary-color: #161828;
  --primary-color-80: rgba(22, 24, 40, 0.8);
  --primary-color-50: rgba(22, 24, 40, 0.5);
  --black-color: #000000;
  --white-color: #FFFFFF;
  --bg-color01: #FAFAFA;
  --bg-color02: #E4E6EA;
  --bg-test-color01: #EAEDFB;
  --bg-test-color02: #F2E4F6;
  --bg-test-color03: #FBEBEB;
  // Text-color
  --text-primary-color: #161828;
  --text-primary-color2: #262626;
  --text-primary-color3: rgba(34, 34, 34, 0.7);
  --text-black-color: #000000;
  --text-black-color-30: rgba(0, 0, 0, 0.3);
  --text-black-color-40: rgba(0, 0, 0, 0.4);
  --text-white-color: #FFFFFF;
  --text-white-color-80: rgba(255, 255, 255, 0.8);
  // font-family
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}