.quiz-header-div {
  --height80px: 80px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: all 0.5s;
  border-bottom: 1px solid #b3b6b666;
  box-shadow: 0px 4px 48px #0000001a;

  .quiz-header-inner-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: var(--height80px);
  }

  .quiz-title-div {
    h3 {
      font-size: 18px;
      line-height: 1.3;
      font-weight: 500;
      text-align: center;
      display: block;
      width: 100%;
      color: #181b1a;
    }
  }

  .quiz-count-div {
    .quiz-count-center-dv {
      background: #fafafa;
      padding: 10px 50px;
      border-radius: 50px;
      border: 1px solid #dfdfe3;
    }

    h2 {
      .txt-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .icon {
        margin: 0 5px 0 0;
      }

      .txt-title {
        padding: 0 0 0 10px;
        color: var(--primary-colour01);
      }
    }
  }

  .quiz-action-div {
    .btn.btn-action {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      height: 44px;
      width: 44px;
      margin: 0 0 0 10px;
      text-align: center;
      border-radius: 100px;
      transition: all 0.8s;
      background: transparent;

      &:hover {
        background: #f6f6f5;
      }
    }

    .btn.btn-action.btn-submit {
      background-color: var(--primary-colour01);
      width: auto;
      padding: 5px 20px;
      border-radius: 10px;
      text-transform: uppercase;
      margin: 0 0 0 25px;
    }
  }
}

.quiz-main-section {
  padding: 80px 0 0 0;
  background: #fafafa;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.quiz-main-inner-div {
  padding: 60px 0;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
  }
}

.quiz-card-bx {
  padding: 15px 15px;
  margin: 0 40px 40px;
  border-radius: 24px;
  position: relative;
  border: 1px solid #dfdfe3;
  background: #fff;
  box-shadow: 0px 4px 48px #0000000d;

  .bookmark-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .btn.btn-bookmark {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      background: #f6f6f5;
      border-radius: 100px;
    }
  }

  .quiz-card-center-div {
    padding: 0 55px 10px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .quiz-card-header-bx {
    h2 {
      font-size: 21px;
      line-height: 1.5;
      padding: 0 0 25px;
      margin: 0 0 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      border-bottom: 1px solid #dfdfe3;

      .qz-number {
        padding: 10px;
        background: var(--primary-colour01);
        color: #fff;
        border-radius: 10px;
        margin: 0 15px auto 0;
        min-width: 50px;
        text-align: center;
        display: inline-block;
      }

      .qz-txt {
        flex: 1;
      }
    }
  }

  .quiz-card-body-bx {
    padding: 10px 14px;
  }
}

.general-form-dv {
  position: relative;

  .chexkbox-dv {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding-left: 0;

    .checkbox-input {
      display: none;
    }

    .checkbox-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      letter-spacing: 0;
      color: #181b1a;
      cursor: pointer;
      margin: 0;
      padding: 2px 0 0 40px;
      display: block;

      &::before {
        content: "";
        height: 24px;
        width: 24px;
        border-radius: 4px;
        display: inline-block;
        border: 1px solid #b3b6b666;
        position: absolute;
        left: 0;
        top: 1px;
      }

      &::after {
        content: "";
      }
    }

    .checkbox-input:checked + .checkbox-label::after {
      content: "\e876";
      font-family: "Material Icons Outlined";
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 0;
      top: 1px;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: var(--primary-colour01);
      border-radius: 4px;
    }
  }

  .radio-dv {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding-left: 0;

    .radio-input {
      display: none;
    }

    .radio-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      letter-spacing: 0;
      color: #181b1a;
      cursor: pointer;
      margin: 0;
      padding: 2px 0 0 40px;
      display: block;

      &::before {
        content: "";
        height: 24px;
        width: 24px;
        border-radius: 100px;
        display: inline-block;
        border: 1px solid #b3b6b666;
        position: absolute;
        left: 0;
        top: 1px;
      }

      &::after {
        content: "";
      }
    }

    .radio-input:checked + .radio-label::before {
      border-color: #02b3e4;
    }

    .radio-input:checked + .radio-label::after {
      content: " ";
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      line-height: 1;
      position: absolute;
      left: 4px;
      top: 5px;
      height: 16px;
      width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: var(--primary-colour01);
      border-radius: 100px;
    }
  }
}

.slider-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 30px;

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: auto;
    left: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: auto;
    right: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: auto;
    width: auto;
    height: auto;
    margin-top: 0;
    z-index: 10;
    background: transparent;
    padding: 0 10px;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }

  .btn.btn-cst-sld {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 9px 20px 6px;
    border-radius: 10px;
    min-height: 50px;
    background: var(--primary-colour01);
    transition: all 0.8s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    min-width: 180px;
    outline: none;
    box-shadow: none;

    &:hover {
      background: #312c45;
    }
  }

  .btn.btn-cst-sld.btn-next {
    padding-left: 24px;

    .icon {
      margin: 0 0 0 5px;
    }
  }

  .btn.btn-cst-sld.btn-prev {
    padding-right: 24px;

    .icon {
      margin: 0 5px 0 0;
    }
  }
}

/* Live Quiz */
.quiz-header-div.quiz-header-div02 {
  background: #312c45;
  position: fixed;

  .quiz-title-div {
    h3 {
      color: #fff;
    }
  }

  .quiz-action-div {
    .btn.btn-action {
      color: #fff;

      &:hover {
        background: #4a4364;
      }
    }
  }
}

.quiz-live-main-section {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: linear-gradient(90deg, #f6f5fa 28px, transparent 1%) 50%,
    linear-gradient(#f6f5fa 28px, transparent 1%) 50%, #d2cde6;
  background-size: 30px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 500;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 20px;

  .quiz-live-main-inner-div {
    padding: 50px 0 0 0;
    margin: 0;
    position: relative;
  }
}

.quiz-card-live-bx {
  margin: 0 40px 20px;

  .quiz-card-center-div {
    padding: 5px 5px 0;
  }

  .quiz-card-header-bx {
    h2 {
      font-size: 18px;
      padding-bottom: 20px;

      .qz-number {
        padding: 5px;
      }
    }
  }

  .quiz-card-body-bx {
    padding: 5px 14px;
  }

  .general-form-dv {
    .chexkbox-dv {
      margin: 0 0 15px;

      .checkbox-label {
        font-size: 14px;
        padding-left: 35px;

        &::before {
          height: 20px;
          width: 20px;
          top: 2px;
        }
      }

      .checkbox-input:checked + .checkbox-label::after {
        height: 20px;
        width: 20px;
        font-size: 18px;
        top: 2px;
      }
    }

    .radio-dv {
      margin: 0 0 15px;

      .radio-label {
        font-size: 14px;
        padding-left: 35px;

        &::before {
          height: 20px;
          width: 20px;
        }
      }

      .radio-input:checked + .radio-label::after {
        font-size: 18px;
        left: 4px;
        top: 5px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .btn-group-dv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0 0;
    position: relative;

    .btn-group-rt-dv {
      position: absolute;
      top: 20px;
      right: 0;
    }

    .btn-cst {
      padding-bottom: 7px;
    }

    .btn.btn-cst.btn-primary-line {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .icon {
        margin: 0 5px 0 -2px;
      }
    }
  }

  .collapse-root {
    .card {
      margin: 10px 0 0;
      font-size: 16px;
      color: #181b1a;
      line-height: 1.6;
      width: 100%;
      display: block;
      padding: 15px 15px;
      background: #40aeb41a;
      border-radius: 8px;
      border: 1px solid #40aeb4;

      .block-txt {
        display: block;
        margin: 0 0 5px;
        font-size: 16px;

        b {
          font-weight: 600;
          margin: 0 5px 0 0;
        }

        small span {
          background: #40aeb4;
          color: #fff;
          min-width: 24px;
          display: inline-flex;
          text-align: center;
          margin: 0 5px 0 0;
          font-size: 14px;
          line-height: 1;
          border-radius: 12px;
          min-height: 24px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      p {
        font-size: 14px;

        a {
          color: #02b3e4;
          text-transform: capitalize;
        }

        b {
          font-weight: 500;
        }
      }
    }
  }
}

.button-bottom-qz-dv {
  padding: 10px 0;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  .btn.btn-cst {
    font-size: 16px;
    line-height: 1.5;
    padding: 9px 20px 6px;
    min-height: 50px;
    min-width: 180px;
    letter-spacing: 0.1px;
  }
}

.bottom-ft-pby-div {
  padding: 0;
  background: #fff;
  box-shadow: 0 -15px 40px 0 #312c45;

  .bottom-ft-pby-center-div {
    padding: 15px 0;

    p {
      font-size: 16px;
      color: #181b1a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .txt {
        position: relative;
        top: 5px;
      }
    }

    .img-fluid {
      width: 190px;
      margin: 0 0 0 15px;
      object-fit: contain;
      position: relative;
      display: inline-block;
    }
  }
}
/* End of Live Quiz */

/* Modal */
.modal-backdrop {
  z-index: 9999;
}

.modal.modal-custom {
  z-index: 99991;

  .modal-dialog {
    max-width: 700px;
  }

  .modal-content {
    border-radius: 16px;
    border: 1px solid #00000000;
  }

  .modal-header {
    padding: 1rem 20px;
    border-bottom: 1px solid #dfdfe3;

    h3 {
      font-size: 18px;
      color: #181b1a;
    }
  }

  .modal-body {
    padding: 20px;
  }
}

.instructors-md-div {
  padding: 5px 0 5px;
  position: relative;

  .form-root {
    .form-group {
      .form-label {
        small {
          font-size: 14px;
        }
      }

      textarea.form-control {
        resize: none;
        height: 100px;
      }
    }
  }

  .button-footer-dv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .btn.btn-cst {
      font-size: 14px;
      padding-bottom: 8px;
    }
  }

  .queries-md-div {
    padding: 25px 0 0 0;
    margin: 25px 0 0 0;
    position: relative;
    width: 100%;
    border-top: 1px solid #dfdfe3;

    .no-queries-text {
      text-align: center;
    }
  }
}

.table.table-ins-custom {
  border: 1px solid #dfdfe3;
  margin: 0;
  width: 100%;

  th {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #181b1a;
    padding: 10px 15px;
    border-top: 1px solid #dfdfe3;
  }

  th.th01 {
    width: 60%;
  }

  th.th02 {
    width: 40%;
  }

  td {
    padding: 10px 15px;
    border-top: 1px solid #dfdfe3;
  }

  .desc-div {
    padding: 0;
    position: relative;

    p {
      font-size: 14px;
      color: #181b1a;

      a {
        color: #02b3e4;
      }
    }

    .card {
      margin: 10px 0 0;
      font-size: 14px;
      color: #181b1a;
      line-height: 1.6;
      width: 100%;
      display: block;
      padding: 10px 15px;
      background: #02b3e41a;
      border-radius: 10px;
      border: 1px solid #02b3e4;
    }
  }

  .text-div {
    p {
      font-size: 14px;
      color: #181b1a;

      b {
        font-weight: 500;
      }

      .txt-span {
        display: block;
      }
    }
  }
}
/* End of Modal */

/* View History */

.view-hs-content-section {
  padding: 40px 0;
  position: relative;
}

.vhs-accordion-card {
  .vhs-header-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    .vhs-header-col {
      flex: 1;
    }

    .vhs-grid01 {
      width: 20%;
    }

    .vhs-grid02 {
      width: 20%;
    }

    .vhs-grid03 {
      width: 40%;
      flex: 0 0 40%;
    }

    .vhs-grid04 {
      width: 15%;
      flex: 0 0 15%;
    }

    h4 {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 600;
      text-transform: uppercase;
      color: #181b1a;
    }

    h4.fail {
      color: #f80000;
    }

    h4.success {
      color: #48c248;
    }
  }

  .vhs-body-dv {
    padding: 20px 0;
    position: relative;
  }

  .quiz-result-content-dv {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;

    h4 {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 600;
      text-transform: uppercase;
      color: #181b1a;
      margin: 0 0 5px;
      width: 100%;
      display: block;

      .txt01 {
        color: #181b1a;
      }
    }

    h4.fail {
      color: #f80000;
    }

    h4.success {
      color: #48c248;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.5;
      display: block;
      color: #181b1a;
      margin: 15px 0 15px;
      width: 100%;

      strong {
        font-size: 36px;
        margin: 0 5px 0 0;
      }

      small {
        font-size: 18px;
        color: var(--primary-colour01);
      }
    }

    p {
      color: #181b1a;
      margin: 0 0 20px;
    }

    .btn-dv {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0 0 0;
    }

    .btn.btn-cst {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .icon {
        margin: 0 8px 0 0;
        font-size: 21px;
      }
    }

    .btn-cst.btn-primary03 {
      padding: 9px 20px 8px;
    }
  }

  .quiz-result-col-rg {
    display: flex;
    align-items: center;
  }
}

.view-hs-accordion {
  .accordion-button:not(.collapsed) {
    color: #181b1a;
    background-color: #40aeb429;
  }

  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .accordion-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .accordion-item:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .accordion-button:focus {
    box-shadow: none;
  }
}

.view-hs-listing {
  margin: 0 0 20px;
}
/* End of view history */

.view-review-que-dt-div {
  .vhs-accordion-card {
    padding: 10px 30px;
    margin: 0 0 20px;
    border-radius: 24px;
    position: relative;
    border: 1px solid #dfdfe3;
    box-shadow: 0px 4px 48px #0000000d;
  }
}

.quiz-card-review-bx {
  margin: 0 0 20px;

  .quiz-card-center-div {
    padding: 5px 5px 0;
  }

  .quiz-card-header-bx {
    h2 {
      font-size: 18px;
      padding-bottom: 20px;

      .qz-number {
        padding: 5px;
      }
    }
  }

  .quiz-card-body-bx {
    padding: 5px 14px;
  }

  .general-form-dv {
    .chexkbox-dv {
      margin: 0 0 15px;

      .checkbox-label {
        font-size: 14px;
        padding-left: 35px;

        &::before {
          height: 20px;
          width: 20px;
          top: 2px;
        }
      }

      .checkbox-input:checked + .checkbox-label::after {
        height: 20px;
        width: 20px;
        font-size: 18px;
        top: 2px;
      }
    }

    .radio-dv {
      margin: 0 0 15px;

      .radio-label {
        font-size: 14px;
        padding-left: 35px;

        &::before {
          height: 20px;
          width: 20px;
        }
      }

      .radio-input:checked + .radio-label::after {
        font-size: 18px;
        left: 4px;
        top: 5px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .btn-group-dv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0 0;
    position: relative;

    .btn-group-rt-dv {
      position: absolute;
      top: 20px;
      right: 0;
    }

    .btn-cst {
      padding-bottom: 7px;
    }

    .btn.btn-cst.btn-primary-line {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .icon {
        margin: 0 5px 0 -2px;
      }
    }
  }

  .collapse-root {
    .card {
      margin: 10px 0 0;
      font-size: 16px;
      color: #181b1a;
      line-height: 1.6;
      width: 100%;
      display: block;
      padding: 15px 15px;
      background: #40aeb41a;
      border-radius: 8px;
      border: 1px solid #40aeb4;

      .block-txt {
        display: block;
        margin: 0 0 5px;
        font-size: 16px;

        b {
          font-weight: 600;
          margin: 0 5px 0 0;
        }

        small span {
          background: #40aeb4;
          color: #fff;
          min-width: 24px;
          display: inline-flex;
          text-align: center;
          margin: 0 5px 0 0;
          font-size: 14px;
          line-height: 1;
          border-radius: 12px;
          min-height: 24px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }

      p {
        font-size: 14px;

        a {
          color: #02b3e4;
          text-transform: capitalize;
        }

        b {
          font-weight: 500;
        }
      }
    }
  }

  .label-general-dv {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;

    ul {
      color: #181b1a;
      font-size: 16px;
      line-height: 1.5;
      margin: 0;

      li {
        margin: 0 0 10px;
      }
    }
  }
}

.quiz-card-review-bx .collapse-root.wrong-collapse-root .card {
  background: #cd5b5b1a;
  border-color: #cd5b5b;
}

.quiz-card-review-bx .collapse-root.not-attempt-collapse-root .card {
  background: #50ac221a;
  border-color: #50ac22;
}

.quiz-card-review-bx .collapse-root.right-collapse-root .card {
  background: #02b2e31a;
  border-color: #02b3e4;
}

.quiz-review-main-section {
  padding: 0;
  margin: 0 0 80px;
  position: relative;

  .header-txt-div {
    margin: 0 0 20px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .quiz-header-div {
    position: relative;
    min-height: 106px;
  }

  .quiz-header-div .quiz-count-div .quiz-count-center-dv {
    padding: 8px 0;
    border: none;
    border-radius: 40px;
    background: transparent;
  }

  .quiz-header-div .quiz-count-div .quiz-count-center-dv h2 {
    font-size: 16px;
    line-height: 1.5;
  }

  .quiz-header-div .quiz-action-div .btn.btn-action {
    margin: 0;
  }

  .quiz-header-div .quiz-action-div .btn.btn-action:first-child {
    margin-left: 0;
  }

  .quiz-title-div {
    width: 100%;
    padding: 15px 0 15px;
    border-bottom: 1px solid #dfdfe3;
    margin: 0 0 5px;
  }

  .quiz-count-div {
    width: auto;
    flex: 1;
  }

  .quiz-header-div .quiz-header-inner-div {
    padding: 0 0 5px;
  }

  .quiz-header-div .quiz-action-div .btn.btn-action {
    margin: 0;
    width: 36px;
    height: 36px;
  }

  .quiz-main-section {
    padding: 0;
    min-height: calc(100vh - 106px);
  }

  .quiz-main-inner-div {
    padding: 25px 0 0;
  }

  .quiz-card-bx {
    padding: 15px 15px 0;
    margin: 0 0 20px;
    border-radius: 24px;
    border: 1px solid #dfdfe3;
    background: #fff;
    box-shadow: none;
  }

  .quiz-card-bx .quiz-card-center-div {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .quiz-card-bx .quiz-card-body-bx {
    padding: 10px 0;
  }

  .quiz-card-bx .bookmark-div .btn.btn-bookmark {
    height: 40px;
    width: 40px;
  }

  .quiz-card-bx .bookmark-div .btn.btn-bookmark .material-icons-outlined {
    font-size: 20px;
  }

  .quiz-card-bx .bookmark-div {
    margin: 0 0 10px;
    position: absolute;
    right: 10px;
    z-index: 9;
    top: 10px;
  }

  .quiz-card-bx .quiz-card-header-bx h2 .qz-number {
    padding: 5px;
    margin: 0 10px auto 0;
    min-width: 44px;
  }

  .quiz-card-bx .quiz-card-header-bx h2 {
    font-size: 16px;
    padding: 0 0 20px;
    margin: 0 0 15px;
  }

  .quiz-card-bx .quiz-card-header-bx h2 .qz-txt {
    flex: 0 0 100%;
    padding: 10px 0 0 0;
  }

  .general-form-dv .chexkbox-dv .checkbox-label {
    font-size: 14px;
    padding: 3px 0 0 36px;
  }

  .general-form-dv .radio-dv .radio-label {
    font-size: 14px;
    padding: 3px 0 0 36px;
  }

  .slider-btn-div .btn.btn-cst-sld {
    font-size: 14px;
    line-height: 20px;
    padding: 9px 15px 6px;
    min-width: 110px;
    min-height: 44px;
  }

  .slider-btn-div .swiper-button-next,
  .slider-btn-div .swiper-button-prev {
    padding: 0 5px;
  }

  .slider-btn-div {
    margin: 0 0 15px;
  }

  /* Live Quiz */
  .table.table-ins-custom {
    border: none;
  }

  .table.table-ins-custom thead {
    display: none;
  }

  .table.table-ins-custom td::before {
    content: attr(data-label);
    font-size: 14px;
    color: #181b1a;
    font-weight: 600;
    margin: 0 0 5px;
    display: block;
    width: 100%;
  }

  .table.table-ins-custom tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .table.table-ins-custom tbody tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #dfdfe3;
    margin: 0 0 10px;
    padding: 15px 15px 0;
    border-radius: 10px;
  }

  .table.table-ins-custom td {
    padding: 0;
    margin: 0 0 15px;
    border-top: none;
  }

  .table.table-ins-custom .desc-div .card {
    margin: 10px 0 0;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #02b3e4;
  }

  .quiz-header-div.quiz-header-div02 {
    min-height: 91px;

    .quiz-title-div {
      padding: 10px 0 10px;
      margin: 0 0 5px;
      border-bottom: 1px solid #02b3e433;

      h3 {
        font-size: 14px;
      }
    }

    .quiz-action-div .btn.btn-action.btn-submit {
      padding: 5px 10px 4px;
      border-radius: 6px;
      margin: 0;
      font-size: 14px;
      height: 30px;
    }

    .quiz-count-div .quiz-count-center-dv h2 {
      font-size: 14px;
      color: #fff;
    }
  }

  .quiz-live-main-section {
    padding-top: 91px;
  }

  .quiz-live-main-section .quiz-live-main-inner-div {
    padding: 20px 0 0 0;
  }

  .quiz-card-live-bx {
    .quiz-card-header-bx h2 {
      font-size: 14px;
      padding: 0 0 12px;
      margin: 0 0 10px;
    }

    .quiz-card-body-bx {
      padding: 5px 0 10px;
    }

    .general-form-dv .chexkbox-dv {
      margin: 0 0 10px;
    }

    .general-form-dv .chexkbox-dv .checkbox-label {
      padding-left: 30px;
      padding-top: 2px;
    }

    .btn-group-dv {
      padding: 10px 0 0 0;

      .btn-group-lf-dv {
        width: 100%;
        margin: 0 0 10px;
      }

      .btn-group-rt-dv {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
      }

      .btn-cst {
        width: 100%;
      }

      .btn.btn-cst.btn-primary-line {
        justify-content: center;
      }
    }
  }

  .bottom-ft-pby-div .bottom-ft-pby-center-div .img-fluid {
    width: 150px;
  }

  .button-bottom-qz-dv {
    padding: 0;

    .button-bottom-qz-row {
      display: flex;
      flex-wrap: wrap;
    }

    .btn.btn-cst {
      font-size: 14px;
      padding: 9px 15px 6px;
      min-height: 44px;
      min-width: 100px;
    }

    .btn.btn-cst.mr-15 {
      margin-right: 10px !important;
    }
  }
  /* End of Live Quiz */

  /* View history */
  .vhs-accordion-card .vhs-header-row {
    width: 100%;
    padding: 0 15px 0 0;
  }

  .vhs-accordion-card .vhs-header-row .vhs-grid01 {
    width: 50%;
    flex: 0 0 50%;
  }

  .vhs-accordion-card .vhs-header-row .vhs-grid02 {
    width: 50%;
    flex: 0 0 50%;

    p {
      text-align: right;
    }
  }

  .vhs-accordion-card .vhs-header-row .vhs-grid03 {
    width: 100%;
    flex: 0 0 100%;
    margin: 10px 0 10px;
  }

  .vhs-accordion-card .vhs-header-row .vhs-grid04 {
    width: 100%;
    flex: 0 0 100%;
  }

  .view-hs-accordion .accordion-item .accordion-button {
    padding: 15px 15px;
  }

  .vhs-accordion-card .vhs-body-dv {
    padding: 0;
  }

  .vhs-accordion-card .quiz-result-content-dv {
    padding: 20px 0;
  }

  .vhs-accordion-card .quiz-result-content-dv h4 {
    text-align: center;
  }

  .vhs-accordion-card .quiz-result-content-dv h2 {
    margin: 10px 0 15px;
    width: 100%;
    text-align: center;
  }

  .vhs-accordion-card .quiz-result-content-dv p {
    text-align: center;
  }

  .vhs-accordion-card .quiz-result-content-dv .btn-dv {
    justify-content: center;
    width: 100%;
  }

  .vhs-accordion-card .chart-container {
    height: 300px;
  }
  /* End of view history */

  .quiz-card-review-bx {
    .quiz-card-header-bx h2 {
      font-size: 14px;
      padding: 0 0 12px;
      margin: 0 0 10px;
    }

    .quiz-card-body-bx {
      padding: 5px 0 10px;
    }

    .general-form-dv .chexkbox-dv {
      margin: 0 0 10px;
    }

    .general-form-dv .chexkbox-dv .checkbox-label {
      padding-left: 30px;
      padding-top: 2px;
    }

    .btn-group-dv {
      padding: 10px 0 0 0;

      .btn-group-lf-dv {
        width: 100%;
        margin: 0 0 10px;
      }

      .btn-group-rt-dv {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
      }

      .btn-cst {
        width: 100%;
      }

      .btn.btn-cst.btn-primary-line {
        justify-content: center;
      }
    }
  }

  .quiz-review-main-section .header-txt-div h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .quiz-review-main-section {
    margin: 0 0 60px;
  }

  .quiz-card-review-bx .label-general-dv ul {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quiz-header-div .quiz-count-div .quiz-count-center-dv {
    padding: 12px 30px;
  }

  .quiz-header-div .quiz-count-div .quiz-count-center-dv h2 {
    font-size: 18px;
    line-height: 1.5;
  }

  .quiz-card-bx .quiz-card-center-div {
    padding: 0 20px 10px;
  }

  /* Live Quiz */

  /* End of Live Quiz */
}
