@charset "utf-8";

@import "./default-style";
@import "./custom-icons";
@import "./left-sidebar";
@import "./header";

/* Colors: */
:root {
  --white-color: #fff;
  // --primary-colour01: #ff3131;
  // --primary-colour01-e01: #ff31314d;
  // --primary-colour01-e02: #ff33331f;
  --primary-colour01: #02b3e4;
  --primary-colour01-e01: #02b3e44d;
  --primary-colour01-e02: #02b3e433;
  --heading-colour-typo01: #211a55;
  --title-normal-colour-typo01: #908daa;
  --font-family-primary: "Poppins", sans-serif;
  --padding-70: 70px;
  --padding-75: 75px;
  --bs-gutter-x: 15px;
}

/* End of Colors */
body {
  overflow-x: hidden;
}

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.overflow-xy-hidden {
  overflow: hidden;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.row {
  --bs-gutter-x: 30px;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mlr-9 {
  margin-right: -9px !important;
  margin-left: -9px !important;
}

.plr-9 {
  padding-right: 9px !important;
  padding-left: 9px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.ps-relative {
  position: relative !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
}

.btn.btn-primary-common {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 9px 30px 6px;
  border-radius: 12px;
  min-height: 50px;
  background: var(--primary-colour01);
  transition: all 0.8s;
  text-transform: uppercase;

  &:hover {
    background: #312c45;
  }
}

.btn.btn-danger-common {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 9px 30px 6px;
  border-radius: 12px;
  min-height: 50px;
  background: #dc3545;
  transition: all 0.8s;
  text-transform: uppercase;

  &:hover {
    background: #312c45;
  }
}

/* Typography */
h1 {
  font-size: 48px;
  line-height: 1;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #181b1a;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

/* End of Typography */

/* Button */
.custom-link-pri01 {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: var(--primary-colour01);
  display: inline-block;
}

.btn-mw150 {
  min-width: 150px;
}
/* End of Button */

.form-root {
  padding: 0;
  margin: 0;
  position: relative;

  .form-group {
    margin-bottom: 20px;
    position: relative;

    label {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 6px;
      text-align: left;
      letter-spacing: 0;
      color: #181b1a;
    }

    .input-control {
      position: relative;
    }

    .form-control {
      font-size: 16px;
      color: #181b1a;
      min-height: 50px;
      padding: 8px 20px;
      border: 1px solid #b3b6b666;
      border-radius: 12px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 500;

      &::-webkit-input-placeholder {
        color: #98a9bc;
      }

      &::-moz-placeholder {
        color: #98a9bc;
      }

      &:-ms-input-placeholder {
        color: #98a9bc;
      }

      &:-moz-placeholder {
        color: #98a9bc;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: rgba(0, 0, 0, 0.4);
        box-shadow: none;
        outline: none;
      }
    }

    input[type="password"].form-control {
      padding-right: 48px;
    }

    .custom-icon {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8e98a0;

      .icon-UserName1 {
        font-size: 20px;
      }

      .icon-Password {
        font-size: 20px;
      }
    }

    .icon-group {
      position: absolute;
      top: 1px;
      right: 1px;
    }

    .pass-hide {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      color: #f98d29;
      cursor: pointer;
      outline: none;
      padding: 0 0 2px 0;
    }
  }

  .btn-group {
    margin-bottom: 20px;
    position: relative;
  }

  .error-message-box {
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      color: #ff1a46;
    }
  }

  /* checkbox */
  .custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
    color: #778ca2;
    letter-spacing: 0;
    line-height: 24px;

    .custom-control-label {
      margin-bottom: 0;
      cursor: pointer;
      padding: 0 0 0 30px;

      &::before {
        background-color: #e8ecef;
        border: 1px solid #e8ecef;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        top: 2px;
      }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-size: 10px;
      top: 3px;
      left: 1px;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(142, 152, 160, 0.25);
    }
  }

  .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::before {
    background-color: #4d7cfe;
  }
  /* End of checkbox */

  .form-check {
    position: relative;
    margin: 0 0 10px;
    padding-left: 0;

    .form-check-input[type="checkbox"] {
      display: none;
    }

    .form-check-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      letter-spacing: 0;
      color: #181b1a;
      cursor: pointer;
      margin: 0;
      padding: 0 0 0 30px;

      &::before {
        content: "";
        height: 20px;
        width: 20px;
        border-radius: 4px;
        display: inline-block;
        border: 1px solid #b3b6b666;
        position: absolute;
        left: 0;
        top: 1px;
      }

      &::after {
        content: "";
      }
    }

    .form-check-input[type="checkbox"]:checked + .form-check-label::after {
      content: "\e876";
      font-family: "Material Icons Outlined";
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 0;
      top: 1px;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: var(--primary-colour01);
      border-radius: 4px;
    }
  }

  .img-circle-div {
    position: relative;
    padding: 0 0 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .text-center p {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin: 15px 0 0 0;
    }

    .text-center {
      width: 100%;
    }

    .title-div {
      padding: 0 0 0 20px;

      label.filelabel-text {
        margin: 0;
        cursor: pointer;

        h5 {
          font-size: 18px;
          color: #181b1a;
          font-weight: 600;
          line-height: 1.5;
          display: block;
          margin: 0 0 8px 0;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 400;
          color: #181b1ab3;
        }
      }
    }

    .circle {
      width: 128px;
      height: 128px;
      position: relative;
      border-radius: 100%;
      display: block;
      background: #fcf6f0;

      .profile-pic {
        object-fit: cover;
        display: block;
        border: 1px solid #b3b6b666;
        border-radius: 50%;
        background-color: rgb(247, 246, 244);
        width: 128px;
        height: 128px;
      }

      label.filelabel-icon {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        bottom: 4px;
        right: 6px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: var(--primary-colour01);
        position: absolute;
        width: 35px;
        height: 35px;
        margin: 0;
      }

      label.filelabel-icon .icon-mt {
        display: flex;
        font-size: 21px;
        padding-left: 2px;
      }
    }
  }
}

/*  End of general css */

/* main right content area */
.middle-area-dashboard {
  padding: 0 40px 0 0;
  margin: 0;
  position: relative;
  will-change: padding;
  transition: all 0.8s;

  .main-middle-area {
    padding: 0;
    position: relative;
    min-height: 800px;
    width: 100%;
    transition: all 0.8s;
    background: #fff;
    box-shadow: 0px 4px 48px #00000005;
    border-radius: 48px;
  }
}

.nav-dashboard-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .nav-dashboard-left {
    flex: 1;
    padding-left: 60px;
    position: relative;
  }

  .nav-dashboard-right {
    width: 195px;
  }
}

.dropdown-menu {
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 3px 7px #08325722;
  border: 1px solid #eaeaea;
  border-radius: 10px;

  .dropdown-item {
    font-weight: 500;
    padding: 5px 30px;
    font-size: 18px;
    border: none;
    line-height: 30px;
    min-height: 42px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: none;
    letter-spacing: 0;
    color: #181b1a;

    &:hover,
    &:focus,
    &:active {
      color: #071c2e;
      text-decoration: none;
      background-color: #f8f9fa;
    }

    &.active {
      color: #16181b;
      text-decoration: none;
      background-color: #f8f9fa;
    }

    .bg-custom-icon {
      margin: 0 10px 0 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        text-align: left;
        display: block;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(203, 203, 203, 0.6);
    padding: 0;
    margin: 10px 30px 5px 30px;
  }
}

/* End of main right content area */

.main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .main-div {
    padding: 0 var(--padding-75) 0;
  }
}

.common-top-header {
  padding: 0;
  margin: 0 0 17px 0;
  position: relative;

  .common-top-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      line-height: 25px;
      color: var(--title-normal-colour-typo01);
    }
  }
}

.hg-menu-group {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 5px;
  left: 0;
  z-index: 99;
  transition: all 0.5s;

  .hg-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: none;
    color: #181b1a;
    background: #f6f6f5;
    outline: none;
    box-shadow: none;
    border-radius: 12px;
    transition: all 0.8s;

    &:hover {
      color: #fff;
      background: #181b1a;
    }
  }
}

@import "./dasboard";
@import "./courses";
@import "./main";
@import "./quiz";
@import "./home";
@import "./footer";
@import "./auth-style";
@import "./landing-page";
@import "./seller-exams";

@media (min-width: 1025px) {
  /* main right content area */
  .middle-area-dashboard {
    .main-middle-area {
      &.active-progress-area {
        width: calc(100% - 310px);
      }
    }
  }

  .left-side-nav-main-root {
    &.active {
      width: 340px;

      .left-side-nav {
        width: 100%;

        .left-side-menu {
          .left-side-inner {
            .side-nav-item {
              ul {
                li {
                  .nav-link {
                    .text-collapse-menu {
                      display: inline-block;
                      opacity: 1;
                      animation-name: fade-simple;
                      animation-duration: 2s;
                    }
                  }

                  &.active {
                    .nav-link {
                      color: var(--primary-colour01);

                      .text-collapse-menu {
                        opacity: 1;
                        animation-name: fade-simple;
                        animation-duration: 2s;
                      }
                    }
                  }

                  @keyframes fade-simple {
                    0% {
                      opacity: 0;
                    }

                    100% {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.active-hg-left-root {
      .nav-logo-section .dash-logo {
        .logo-main {
          display: none;
        }

        .logo-mini {
          display: block;
        }
      }
    }
  }

  .middle-area-dashboard {
    &.active {
      padding-left: 0;

      .nav-dashboard-row .nav-dashboard-left {
        padding-left: 0;
        position: initial;
      }

      .hg-menu-group {
        left: 20px;

        .hg-menu-btn {
          color: #fff;
          background: var(--primary-colour01);

          .material-icons {
            transform: rotate(180deg);
          }
        }
      }

      .container-full {
        max-width: 1330px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 2000px) and (min-height: 500px) and (max-height: 750px) {
  .left-side-nav
    .left-side-menu
    .left-side-inner
    .side-nav-item
    .main-listing-bottom {
    padding-top: calc(100vh - 583px);
  }
}

@media (min-width: 1025px) and (max-width: 1490px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  :root {
    --padding-70: 50px;
  }
}

@media (max-width: 1024px) {
  .nav-dashboard-row .nav-dashboard-left {
    padding-left: 0;
  }

  .hg-menu-group {
    display: none;
  }

  :root {
    --padding-75: 0;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .mobile-hidden {
    display: none;
  }

  /**  main area  */
  .middle-area-dashboard {
    padding: 15px 0 0 0;
    margin: 0;

    .main-middle-area {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - var(--padding-70));
      width: 100%;
      border-radius: 0;
    }
  }

  .footer-div .footer-row-div {
    padding: 20px 20px 10px;
  }

  .footer-div .footer-card {
    margin: 0 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .mobile-hidden {
    display: none;
  }

  /**  main area  */
  .middle-area-dashboard {
    padding: 15px 0 0 0;
    margin: 0;

    .main-middle-area {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - var(--padding-70));
      width: 100%;
      border-radius: 0;
    }
  }
}
