.about-us-section01 {
  .about-us-div {
    padding: 0 0 60px;

    .content-dv {
      padding: 0 0 15px 15px;
    }
  }
}

.sd-image-div {
  min-height: 400px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.sd-mvv-div {
  padding: 40px 40px 30px;
  background: #007dda;
  position: relative;
  top: -115px;
  margin: 0 0 -60px;
  border-radius: 16px;
}

.mvv-card-bx {
  padding: 10px 0;
  margin: 0 0 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .number {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
    font-family: var(--markpro-family);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
  }

  .content-div {
    flex: 1;
    padding: 0 0 0 16px;
  }

  h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    font-family: var(--markpro-family);
    display: block;
    padding: 5px 0 5px;
    margin: 0 0 5px;
    min-height: 40px;
  }

  p {
    font-size: 16px;
    font-family: var(--open-sans-family);
    color: #fff;
    line-height: 1.6;
    display: block;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
}

@media (max-width: 767px) {
  .about-us-section01 .about-us-div .content-dv {
    padding: 0;
  }

  .about-us-section01 .about-us-div {
    padding: 0;
  }

  .about-us-section01 {
    padding: 40px 0 20px;
  }

  .sd-image-div {
    min-height: 300px;
  }

  .sd-mvv-div {
    padding: 20px 20px 10px;
    top: -85px;
    margin: 0 0 -40px;
    border-radius: 12px;
  }

  .mvv-card-bx {
    padding: 10px 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-us-section01 .about-us-div .content-dv {
    padding: 0;
  }

  .about-us-section01 .about-us-div {
    padding: 0;
  }

  .about-us-section01 {
    padding: 40px 0 20px;
  }

  .sd-image-div {
    min-height: 300px;
  }

  .sd-mvv-div {
    padding: 20px 20px 10px;
    top: -85px;
    margin: 0 0 -40px;
    border-radius: 12px;
  }

  .mvv-card-bx {
    padding: 10px 0;
    margin: 0;

    .number {
      font-size: 16px;
      width: 32px;
      height: 32px;
    }

    .content-div {
      padding: 0 0 0 12px;

      p {
        font-size: 13px;
      }

      h3 {
        font-size: 18px;
        padding: 4px 0 5px;
        margin: 0 0 5px;
        min-height: 32px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
}
